<!DOCTYPE html>
<html lang="fa" dir="rtl" class="bg-background w-screen overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link rel="stylesheet" href="/styles/swiper.css" />
      <link rel="stylesheet" href="/styles/tailwind.css" />
      <link rel="icon" href="/logo/icon.png">
      <meta name="description" content="<%= category.description %>">
      <meta name="keywords" content="<%= category.title %> <%= category.description %>">
      <meta name="author" content="Amin Ahmadi">
      <title>Ritmo category </title>
  </head>

  <body class="w-screen overflow-x-hidden text-white select-none max-w-[1688px] mx-auto">

    <%- include('../partials/svg.ejs') %>

    <%- include('../partials/header.music.ejs') %>

    <main class="main-site mt-18 md:mt-24 ms-auto h-auto max-w-[1600px]">
      <!-- category header -->
      <section id="header-category" class="relative h-[650px] md:h-100 w-full">
          <img src="<%= category.cover %>" class="w-full h-full object-cover" alt="">
          <div class="absolute inset-0 m-auto size-full bg-[#0D0D0E]/75 pe-4 pt-10">
              <div class="flex flex-col md:flex-row items-center gap-x-8 ms-8">
                  <div class="relative size-[288px] rounded-lg min-w-[288px] min-h-[288px]">
                      <img src="<%= category.cover %>" class="size-[288px] rounded-lg min-w-[288px] min-h-[288px]" alt="<%= category.title %>">
                  </div>
                  <div class="max-w-[624px] w-full">
                      <h3 class="font-Pelak_Bold text-[40px] text-center md:text-right "><%= category.title %></h3>
                      <p class="font-Pelak_Regular text-Neutral-100 mt-8 text-base/loose md:text-justify text-center"><%= category.description %></p>
                  </div>
              </div>
          </div>
      </section>

      <!-- latest -->
      <section class="mt-14 px-5 lg:px-8 h-auto">
        <!-- head -->
        <div class="flex items-center justify-between w-full mb-8">
          <h3 id="new-artist" class="font-Pelak_Bold text-base md:text-xl">تازه‌های</h3>
          <div class="flex items-center justify-between w-16 sm:w-20">
            <span class="prev-album flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full"><svg class="size-6"><use href="#chevron-right"></use></svg></span>
            <span class="next-album flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full"><svg class="size-6 transform rotate-180"><use href="#chevron-right"></use></svg></span>
          </div>
        </div>
        <!-- body -->
        <div class="swiper pop-news">
          <div id="latest-container" class="swiper-wrapper"></div>
        </div>
      </section>

      <!-- trending sung -->
      <section class="mt-14 px-5 lg:px-8 h-auto">
        <!-- head -->
        <div class="flex items-center justify-between w-full mb-8">
          <h3 class="font-Pelak_Bold text-base md:text-xl">آهنگ‌های ترند</h3>
          <div class="flex items-center justify-between w-16 sm:w-20">
            <span class="prev-trending-sung flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full"><svg class="size-6"><use href="#chevron-right"></use></svg></span>
            <span class="next-trending-sung flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full"><svg class="size-6 transform rotate-180"><use href="#chevron-right"></use></svg></span>
          </div>
        </div>
        <!-- body -->
        <div class="swiper category-trending-sung-swiper">
          <div
            id="category-trending-sung-container"
            class="swiper-wrapper"
          ></div>
        </div>
      </section>

      <!-- All songs from this genre -->
      <section class="mt-18 px-5 lg:px-8 h-auto">
        <!-- head -->
        <div class="flex items-center gap-x-4 justify-between mb-8">
          <h3 class="font-Pelak_Bold text-xl">تمامی آهنگ‌ها از این سبک</h3>
        </div>
        <!-- body -->
        <div id="all-song" class="flex flex-wrap items-center justify-center gap-5">
            <% musics.forEach(music => { %>
                <a href="/albums/details/<%= music._id %>">
                    <div class="w-50 h-auto object-cover object-center cursor-pointer">
                        <img src="<%= music.poster %>" alt="<%= music.title %> from <%= music.artist %>" class="h-[272px] min-h-[272px] max-h-[272px] w-full rounded-2xl object-cover object-center" />
                        <h3 class="font-Pelak_Bold text-center mt-2"><%= music.title %></h3>
                        <cite class="font-Pelak_Regular not-italic text-center mt-2 text-sm text-Neutral-300 block"><%= music.artist %></cite>
                    </div>
                </a>
            <% }) %>
        </div>

        <div id="add-song" class="flex items-center justify-center size-10 border border-Neutral-200 rounded-full mt-19 mx-auto cursor-pointer" >
          <svg class="size-5"><use href="#chevron-double-down"></use></svg>
        </div>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="/scripts/navbar/music/navbar.js"></script>
    <script src="/scripts/swiper/swiper.js"></script>
    <script src="/scripts/swiper/slider.js"></script>
    <script src="/scripts/categories/categoryDetails.js"></script>
  </body>
</html>
