<!doctype html>
<html lang="fa" dir="rtl" class="bg-background w-screen overflow-x-hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <link rel="icon" href="/logo/icon.png">
    <title>Ritmo Create music</title>
</head>
<body>
<%- include('../partials/svg.ejs') %>

<%- include('../partials/header.music.dashboard.ejs', { active: "create/music" }) %>


<main class="main-site px-5 lg:px-8 ms-auto h-auto mt-10 pb-10" >
    <section class="w-full">
        <header class="w-full">
            <form class="grid md:grid-cols-2 text-white xl:grid-cols-3 font-FA_Pelak_Medium gap-5" action="/api/v1/musics/" method="post">
                <label class="w-full border border-Neutral-400 bg-transparent-1/35 rounded-lg px-3.5 py-4">
                    <input name="title" type="text" class="placeholder:text-white placeholder:text-sm font-Pelak_Regular w-full outline-none " placeholder="عنوام"/>
                </label>
                <label class="w-full border border-Neutral-400 bg-transparent-1/35 rounded-lg px-3.5 py-4">
                    <input name="tags" type="text" class="placeholder:text-white placeholder:text-sm font-Pelak_Regular w-full outline-none" placeholder="تگ هارو با (   ,   ) جدا کنید"/>
                </label>
                <label class="w-full border border-Neutral-400 bg-transparent-1/35 rounded-lg px-3.5 py-4">
                    <select name="album" class="font-Pelak_Regular w-full outline-none rounded-lg focus:outline-none">
                        <option class="bg-transparent-1">البوم</option>
                        <% albums.forEach(album => { %>
                            <option value="<%= album._id %>" class="bg-transparent-1"><%= album.title %></option>
                        <% }) %>
                    </select>
                </label>
                <label class="w-full border border-Neutral-400 bg-transparent-1/35 rounded-lg px-3.5 py-4">
                    <select name="album" class="font-Pelak_Regular w-full outline-none rounded-lg focus:outline-none">
                        <option class="bg-transparent-1">ژنرا</option>
                        <% genres.forEach(genre => { %>
                            <option value="<%= genre._id %>" class="bg-transparent-1"><%= genre.title %></option>
                        <% }) %>
                    </select>
                </label>
                <label class="w-full border border-Neutral-400 bg-transparent-1/35 rounded-lg px-3.5 py-4">
                    <input name="artist" type="text" class="placeholder:text-white placeholder:text-sm font-Pelak_Regular w-full outline-none" placeholder="هنرمند"/>
                </label>
                <label class="w-full border border-Neutral-400 bg-transparent-1/35 rounded-lg px-3.5 py-4 cursor-pointer">
                    <input name="music" accept="audio/*" type="file" class="hidden"/>
                    <span class="font-FA_Pelak_Medium text-sm">اهنگ خود را بارگزاری کنید</span>
                </label>
                <label class="w-full border border-Neutral-400 bg-transparent-1/35 rounded-lg px-3.5 py-4 cursor-pointer">
                    <input name="poster" accept="image/*" type="file" class="hidden"/>
                    <span class="font-FA_Pelak_Medium text-sm">پوستر اهنگ را بارگزاری کنید</span>
                </label>
                <button role="button" type="button" id="submit-music" class="w-full bg-Primary-600 font-FA_Pelak_Medium rounded-lg px-3.5 py-4 cursor-pointer">آپلود</button>
            </form>
        </header>
    </section>
</main>


<script src="/scripts/settings/create/music.js"></script>
<!--<script src="/scripts/albums/album.js"></script>-->

</body>
</html>