<!DOCTYPE html>
<html lang="fa" dir="rtl" class="bg-background w-screen overflow-x-hidden">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
      <link rel="stylesheet" href="/styles/swiper.css" />
      <link rel="stylesheet" href="/styles/tailwind.css" />
      <link rel="icon" href="/logo/icon.png">
      <title>Ritmo Search || <%= search %></title>
  </head>
  <body class="w-screen overflow-x-hidden text-white select-none max-w-[1688px] mx-auto">
    <%- include('../partials/svg.ejs') %>

    <%- include('../partials/header.music.ejs') %>

    <main class="main-site px-5 lg:px-8 h-auto lg:mt-40 mt-24 ms-auto max-w-[1600px]" >
        <section id="album-playlist" class="mt-10">
            <% musics.forEach((music, index) => { %>
                <div music-id="<%= music._id %>" id="lest-heard-music" class="music-btn cursor-pointer flex items-center w-full h-20 justify-between border-b-2 border-b-Neutral-800 py-2 px-6 md:px-8">
                        <div class="flex gap-x-4 min-w-50 md:min-w-100 items-center">
                            <data value="<%= index + 1 %>>" class="font-FA_Pelak_Regular text-xl"><%= index + 1 %></data>
                            <img src="<%= music.poster %>" class="size-16 max-w-16 min-w-16 max-h-16 min-h-16 rounded-lg object-cover object-center" alt="<%= music.title %>"/>
                            <div class="h-14 w-50">
                                <h4 class="font-Pelak_Bold text-sm sm:text-base md:text-lg"><%= music.title %></h4>
                                <h6 class="font-FA_Pelak_Medium text-sm text-Neutral-300"><%= music.artist %></h6>
                            </div>
                        </div>
                        <div class="hidden md:flex items-center w-100 justify-between">
                            <div class="flex gap-x-4 items-center">
                                <a href="#"><svg class="size-6 text-Neutral-300"><use href="#heart"></use></svg></a>
                                <a href="#"><svg class="size-6 text-Neutral-300"><use href="#download-01"></use></svg></a>
                                <a href="#"><svg class="size-6 text-Neutral-300"><use href="#add-circle"></use></svg></a>
                                <a href="#"><svg class="size-6 text-Neutral-300"><use href="#menu-queue"></use></svg></a>
                            </div>
                            <div class="ps-10">
                                <time datetime="00:01:41" class="font-Pelak_Medium text-base"><%= Math.floor(music.time / 60) %> دقیقه</time>
                            </div>
                        </div>
                        <div id="album-menu" class="absolute hidden opacity-0 transition-all duration-300 left-25 size-50 min-w-50 min-h-50 bg-transparent-2 rounded-lg md:hidden ms-auto mt-25">
                            <div class="flex flex-col gap-y-4 justify-center items-between p-5 text-white">
                                <a href="#" class="flex items-center gap-x-3 font-Pelak_Regular text-sm">
                                    <svg class="size-6"><use href="#heart"></use></svg>
                                    علاقه مندی ها
                                </a>
                                <a href="#" class="flex items-center gap-x-3 font-Pelak_Regular text-sm">
                                    <svg class="size-6"><use href="#download-01"></use></svg>
                                    دانلود
                                </a>
                                <a href="#" class="flex items-center gap-x-3 font-Pelak_Regular text-sm">
                                    <svg class="size-6"><use href="#add-circle"></use></svg>
                                    افزودن به لیست
                                </a>
                                <a href="#" class="flex items-center gap-x-3 font-Pelak_Regular text-sm">
                                    <svg class="size-6"><use href="#menu-queue"></use></svg>
                                    افزودن به پلی لیست
                                </a>
                            </div>
                        </div>
                        <div class="flex items-center justify-center md:hidden">
                            <svg id="toggle-menu" class="size-7 transform rotate-90">
                                <use href="#three-pin"></use>
                            </svg>
                        </div>
                    </div>
            <% }) %>
        </section>
    </main>

    <%- include('../partials/music.app.player.ejs') %>

    <script type="text/javascript" src="/scripts/navbar/music/navbar.js"></script>
    <script type="text/javascript" src="/scripts/player/onePlayer.js"></script>
    <script type="text/javascript" src="/scripts/search/search.js"></script>
  </body>
</html>
